<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codingapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodingApplication">
        <activity
            android:name=".examples_Loops"
            android:label="Loops Example" />
        <activity
            android:name=".examples_Strings"
            android:label="Strings Example"/>
        <activity
            android:name=".examples_Conditionals"
            android:label="Conditionals Example"/>
        <activity
            android:name=".examplesPage"
            android:label="Examples Page" />
        <activity
            android:name=".examplesMenu"
            android:label="Examples Menu" />
        <activity
            android:name=".questionsPage"
            android:label="Questions Page" />
        <activity
            android:name=".questionsMenu"
            android:label="Questions Menu" />
        <activity
            android:name=".MainActivity"
            android:label="Programming Fundamentals 1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>